+++
title = "SBI FAIR"
linkTitle = "SBI FAIR"

+++

{{< blocks/cover title="A Welcome to the SBI FAIR Project" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/sbi-fair/sbi-fair.github.io">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">

		The Surrogate Benchmark Initiative (SBI) project will create a community
		repository and FAIR data ecosystem for HPC application surrogate benchmarks,
		including data, code, and all relevant collateral artifacts the science and
		engineering community needs to use and reuse these data sets and surrogates.

	</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}

Please contribute!

{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="The idea!" %}}
The SBI FAIR ... more will be her soon.

Please follow this space for updates!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/sbi-fair" %}}
We do a [Pull Request](https://github.com/sbi-fair/sbi-fair.github.io/pulls) contributions workflow on **GitHub**.
New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-blog" title="Follow us on our blog" url="https://sbi-fair.github.io/blog" %}}
For announcement of latest features and activities.
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col">
<h1 class="text-center">The Surrogate Benchmark Initiative and its components</h1>
</div>

	<img src="/images/sbi-fair-arch.png">

{{< /blocks/section >}}



{{< blocks/section >}}

{{% blocks/feature icon="fab fa-github" title="Repositories" %}}
See the organizational GitHub [Repositories](https://github.com/sbi-fair)

New users are always welcome!

{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github"
    title="Contributions welcome!"
%}}

We do a [Pull Request](https://github.com/sbi-fair/sbi-fair.github.io/pulls)
contributions workflow on **GitHub**.
New users are always welcome!

{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-blog"
    title="Follow us on our blog"
    url="https://sbi-fair.github.io/blog/" %}}

For announcement of latest features etc.

{{% /blocks/feature %}}


{{< /blocks/section >}}

{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center"> Participants </h1>

	<center>In alphabetical order </center></br></br>

	<center>
		<table>
		<tr>

			<td> &nbsp;&nbsp;&nbsp;&nbsp; </td>
			<td><img src="/images/anl.png" height="64px"></td>
			<td> &nbsp;&nbsp;&nbsp;&nbsp; </td>

			<td><img src="/images/iu.jpg" height="64px">
				Indiana University
			</td>
			<td> &nbsp;&nbsp;&nbsp;&nbsp; </td>

			<td><img src="/images/rutgers.png" height="64px"></td>
			<td> &nbsp;&nbsp;&nbsp;&nbsp; </td>

			<td><img src="/images/utk.jpg" height="64px"></td>
			<td> &nbsp;&nbsp;&nbsp;&nbsp; </td>

		</tr>
		</table>
	</center>
</div>

{{< /blocks/section >}}
